<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/Admin.css">
</head>

<body>
    <header class="cabecalho">
        <img src="../Netflix.P.I/public/public/images/netflixlogo.png" alt="" height="50">
        <h2>Planilha administrativa</h2>
        <button>Sair</button>
    </header>

    <section class="filmes">
        <div>
            <span>Controle de Filmes</span>

            <table border="1">
                <tr>
                    <td>Nome</td>
                    <td>Genero</td>

                </tr>
                <tr>
                    <td>Alice no pais das mavarilhas</td>
                    <td>Ficção</td>
                <tr>
                    <td>Como eu era antes de você</td>
                    <td>romance</td>
                <tr>
                    <td> As branquelas</td>
                    <td>comédia</td>
                </tr>

                </tr>
                </tr>
            </table>
        </div>
        <div class="botoes1">
            <button>Novo Filme</button>
            <button>Arquivar Filme</button>
            <button>Excluir Filme</button>
        </div>

    </section>
    <section class="filmes">
        <div>
            <span>Controle de Usuarios</span>
            <table border="1">
                <tr>
                    <td>Usuário</td>
                    <td>e-mail</td>

                </tr>
                <tr>
                    <td>Jessica Araujo</td>
                    <td>jessicagomes2012@gmail.com</td>
                <tr>
                    <td>Warlisson</td>
                    <td>Warlisson@gmail.com</td>
                <tr>
                    <td>Pablo</td>
                    <td>pablosilas@gmail.com</td>
                </tr>
                </tr>
                </tr>
            </table>
        </div>
        <div class="botoes1">

            <button>Novo Usuario</button>
            <button>Excluir Usuario</button>
        </div>

    </section>



</body>

</html>